{% macro top_level_header(branch, latest_version, release_candidate_version) -%}
    <a class="klavika-font hover-opacity" href="https://rocm.blogs.amd.com/">ROCm&#8482; Blogs</a>
{%- endmacro -%}

{% macro version_list() -%}{%- endmacro -%}

{%
set repo_url = theme_repository_url|replace("-internal", "")
%}
{% set repo_url = repo_url|replace("http://", "https://") %}
{%
set nav_secondary_items = {
    "test": "posts.html",
    "AI": "AI_Vertical.html",
    "HPC": "HPC_Vertical.html",
    "Data Science": "Data_Science_Vertical.html",
    "Systems": "Systems_Vertical.html",
    "Computer Vision": "Computer_Vision_Vertical.html",
}
%}
